.changeicon{
  width: 75px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  div{
    background-color: $cyan;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    float: left;
    color: #fff;
    &:first-child{
      margin-right: 5px;
    }
    &:hover{
      width: 32px;
      height: 32px;
      font-size: 16px;
      &:first-child{
        margin-right: 3px;
      }
    }
  }
}
.daysbox{
  height: calc(100% - 233px);
  overflow: auto;
}
.hoursbox{
  padding: 5px 2px;
  .txthour{
    min-width: 70px;
    color: $gray;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 900;
    font-family: Microsoft YaHei;
    .edithr{
      padding-bottom: 1px;
      margin-bottom: 1px;
      &.enter{
         border-bottom: 1px solid $gray;
      }
      &.enter:hover{
        font-size: 14px;
        color: #3f51b5;
      }
    }
  }
  &:hover{
    background-color: #fff;
    .del{
      visibility: visible;
    }
  }
  .del{
    color:$delyellow;
    font-size: 24px;
    visibility: hidden;
    text-shadow: 0 1px 0 #000;
    &:hover{
      font-size: 28px;
    }
  }
}

.circle{
  border: 1px solid transparent;
  border-radius: 20px;
}

.dayitem{
  padding: 0;
  list-style: none;
  .daytitle{
    padding: 8px 5px;
    .days{
      text-align: center;
      padding: 5px 15px;
      font-weight: bolder;
      font-size: 13px;
      font-family: Microsoft YaHei;
    }
    &:hover{
      background-color: #fff;
      .del,.f5,.itemmove{
        visibility: visible;
      }
    }
    .del,.f5{
      color:$cyan;
      font-size: 24px;
      visibility: hidden;
    }
    .itemmove{
      background-color: $cyan;
      color:#fff;
      border-color: $cyan !important; 
      padding:1px 2px;
      visibility: hidden;
    }
    .btn{
      padding: 3px 12px;
      border-width: 0px;
    }
  }
  ul.media-list{
    .media{
      margin-top: 0px;
    }
    .focus { 
      background-color: #fff;
      border: 3px dashed $lightcyan;
    }
  }
  &.active{
    background-color: #ccc;
  }
}
.pointarea{
  border-radius: 5px;
  padding: 5px 10px 8px 10px;
  .pointhead{
    font-size: 16px;
    font-weight: 900;
    padding: 5px 8px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.6);
    span{
      color:rgba(255, 255, 255, 0.8);
      font-size: 15px;
      &:hover{
        font-size: 16px;
      }
    }
  }
  i{
      padding:6px 8px;
      font-size:15px;
      border-radius: 15px;
      background-color: rgba(#fff,1);
      &:hover{
        background-color: rgba(#fff,0.8);
        color:13px;
      }
  }
}
.traffic{
  i,span{
    padding: 6px 0px;
    font-size: 19px;
    opacity: 0.3;
    &:hover,&.active,font.active{
      opacity: 1;
    }
  }
  .traffichour{
    font-family: Microsoft YaHei;
    font-weight: 900;
    color:#999;
    font-size: 14px;
  }
  span.enter:hover,span.enter.active{
    font-weight: 900;
  }
  .radio-inline{
    margin-left: 0px;
    padding-left: 5px;
    input{
      display: none;
    }
  }
}

// color
.d1{
  span.d1{
    border-color: #da5c5c;
    color:#da5c5c;
  }
  ul>li>.media-body{
    .pointarea{
      background-color:#da5c5c;
      i{
        color:#da5c5c;
      }
    }
    .traffic{
      color:#da5c5c;
    }
  }
}
.d2{
  span.d2{
    border-color: #009688;
    color:#009688;
  }
  ul>li>.media-body{
    .pointarea{
      background-color:#009688;
      i{
        color:#009688;
      }
    }
    .traffic{
      color:#009688;
    }
  }
}
.d3{
  span.d3{
    border-color: #ff9800;
    color:#ff9800;
  }
  ul>li>.media-body{
    .pointarea{
      background-color:#ff9800;
      i{
        color:#ff9800;
      }
    }
    .traffic{
      color:#ff9800;
    }
  }
}
.d4{
  span.d4{
    border-color: #9a5cae;
    color:#9a5cae;
  }
  ul>li>.media-body{
    .pointarea{
      background-color:#9a5cae;
      i{
        color:#9a5cae;
      }
    }
    .traffic{
      color:#9a5cae;
    }
  }
}
.d5{
  span.d5{
    border-color: #DD9800;
    color:#DD9800;
  }
  ul>li>.media-body{
    .pointarea{
      background-color:#DD9800;
      i{
        color:#DD9800;
      }
    }
    .traffic{
      color:#DD9800;
    }
  }
}
.d6{
  span.d6{
    border-color: #1133dd;
    color:#1133dd;
  }
  ul>li>.media-body{
    .pointarea{
      background-color:#1133dd;
      i{
        color:#1133dd;
      }
    }
    .traffic{
      color:#1133dd;
    }
  }
}
.d0{
  span.d0{
    border-color: #bb18a1;
    color:#bb18a1;
  }
  ul>li>.media-body{
    .pointarea{
      background-color:#bb18a1;
      i{
        color:#bb18a1;
      }
    }
    .traffic{
      color:#bb18a1;
    }
  }
}
// color end


.daybtn,.pointbtn{
  padding: 5px 10px;
  border: 3px solid #FFF;
  border-radius: 20px;
  margin-bottom: 0;
  width: calc(100%/2 - 20px);
  &:hover,&.active{
    background-color: $lightcyan;
    color:$cyan;
  }
  &.active{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-color: $cyan;
    border-width: 1px;
    background-color: $lightcyan;
    color:$cyan;
    &:hover{
      background-color: $cyan;
      color:$lightcyan;
    }
  }
}
.daybtn{
  margin: 0px 10px;
}

li.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#alert{
  position: fixed;
  top: 200px;
  left:150px;
  z-index: 9999;
  opacity: 0;
}

.right-view{
  width: 300px;
  height: calc(100% - 52px);
  padding:15px 10px;
  background-color: $lightcyan;
  position: absolute;
  left: 400px;
  top:52px;
  color: $cyan;
  overflow: auto;
  overflow-x:hidden;
  .hit-title{
    color:$deepred;
    font-weight: bolder;
  }
}

.pointinfo{
  .title{
    text-align: center;
    font-weight: bolder;
  }
  .content{
    text-align: left;
  }
}