.searchbox{
  margin-top: 5px;
  height: calc(100% - 77px);
  overflow: auto;
  overflow-x:hidden;
  .searchitem{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    border-color: $cyan;
    border-left-width: 0;
    border-right-width: 0;
    .title{
      font-weight: bolder;
      color:$deepblue;
      text-shadow: 0 1px 0 #fff;
      small{
        color:$deepblue;
      }
      .fav{
        color:$deepred;
      }
    }
    &:hover{
      background-color: #fff;
    }
    &:hover{
      .title{
        text-shadow: none;
      }
      .itemimg,.conttext{
          opacity: 1;
          color:rgba($gray, 1);
      }
    }
    .conttext{
      font-size: 13px;
      line-height: 16px;
      padding-top: 5px;
      padding-bottom: 10px;
      color:rgba($gray, 0.5);
      letter-spacing: 1px;
    }
    .itemimg{
      height:100px;
      width: 100%;
      overflow: hidden;
      opacity: 0.3;
    }
    &.focus{
      background: rgba($cyan, 0.5);
      .title{
        text-shadow: 0 1px 0 rgba(#fff, 0.5);
      }
      .itemimg,.conttext{
          text-shadow: 0 1px 0 rgba(#fff, 0.3);
          opacity: 1;
          color:rgba(#000, 1);
      }
    }
  }
}

.addpoint{
  padding-top:20px;
  background: 
  linear-gradient(to bottom, rgba(#e8f4f5, 0), #ffffff, #e8f4f5, #e8f4f5);
  position: fixed;
  bottom: 0px;
  width: 263px;
  span{
    font-weight: bolder;
  }
}