<div class="pointinfo font-s-15">
	<h4 class="title">
	{{etc.infotitle}}
	{{info.infotitle}}
	</h4>
	<div class="clearfix h-1"></div>
	<div class="content">
		<p>{{info.context}}</p>
		<p class="pad-t-1">
			<i class="fa fa-clock-o font-s-18 font-s-28" aria-hidden="true"></i>
			<span class="line-h-28 font-s-18"> 營業時間</span><br>
			<span style="color:#888;font-weight: bolder;">{{info.worktime}}<br>
			{{info.worktime}}<br>
			{{info.worktime}}<br>
			{{info.worktime}}<br>
			{{info.worktime}}</span>
		</p>
		<p class="pad-t-1">
			<i class="fa fa-home font-s-28" aria-hidden="true"></i>
			<span class="line-h-28 font-s-18"> 地址</span><br>
			<span style="color:#888;font-weight: bolder">{{info.address}}<br></span>
		</p>
		<p class="pad-t-1">
			<i class="fa fa-phone font-s-28" aria-hidden="true"></i>
			<span class="line-h-28 font-s-18"> 電話</span><br>
			<span style="color:#888;font-weight: bolder">{{info.phone}}</span>
		</p>
		<p class="pad-t-1">
			<i class="fa fa-globe font-s-28" aria-hidden="true"></i>
			<span class="line-h-28 font-s-18"> 官網</span><br>
			<a href="{{info.web}}" target="_blank">{{info.web}}</a>
		</p>
		<p class="enter pad-t-1">
			<i class="fa fa-file-text-o font-s-28" aria-hidden="true"></i>
			<span class="line-h-28 font-s-18"> 相關文章</span>
			<span class="pull-right pad-t-1" style="color:#aaa;font-weight: bolder">
				更多 <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</span>
		</p>
		<img src="http://placekitten.com/g/270/250" alt="" width="100%" height="250px">
	</div>
</div>