<div class="text-center" ng-if="(etc.modal=='add')">
	<h3 ng-class="{add: 'text-success', edit: 'text-primary'}[etc.modal]">
		<b>
		<span class="text-success">新增</span>
		景點
		</b>
	</h3>
	<p>景點名稱<input type="text" ng-model="etc.add.addname"></p>
	<p>景點分類<input type="text" ng-model="etc.add.addpointkind"></p>
	<p>停留時間<br>
	<input required type="number" min="0" max="23" class="w-5" value="0" placeholder="00" ng-model="etc.add.stophr"/>:
	<input required type="number" min="0" max="59" class="w-5" value="0" placeholder="00" ng-model="etc.add.stopmin"/>
	</p>
	<p>請選擇放入day<br>
		<select name="" ng-model="etc.add.inputday">
			<option value="">--請選擇--</option>
			<option ng-repeat="daylist in etc.daylist" value="{{$index+1}}">
				day {{$index+1}}
			</option>
		</select>
	</p>
	<hr>
	<p class="pointbtn enter pull-left active" type="submit" title="為您的行程增加 1 個景點" ng-click="etc.addpoint(etc.add)" style="margin-bottom: 5px">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 儲存新增
	</p>
	<p class="pointbtn enter pull-left active" title="關閉" ng-click="etc.show=0;etc.modal==''">
		<i class="fa fa-times" aria-hidden="true"></i> 取消
	</p>
</div>

<div class="text-center" ng-if="(etc.modal=='edit')">
	<h3 ng-class="{add: 'text-success', edit: 'text-primary'}[etc.modal]">
		<b>
		<span class="text-primary">編輯</span>
		景點
		</b>
	</h3>
	<p>景點名稱<input type="text" ng-model="etc.add.addname"></p>
	<p>景點分類<input type="text" ng-model="etc.add.addpointkind"></p>
	<p>停留時間<br>
	<input required type="number" min="0" max="23" class="w-5" value="0" placeholder="00" ng-model="etc.add.stophr"/>:
	<input required type="number" min="0" max="59" class="w-5" value="0" placeholder="00" ng-model="etc.add.stopmin"/>
	</p>
	<hr>
	<p class="pointbtn enter pull-left active" type="submit" title="儲存更改" style="margin-bottom: 5px" ng-click="etc.savepoint(etc.add)">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 儲存此變更
	</p>
	<p class="pointbtn enter pull-left active" title="關閉" ng-click="etc.show=0;etc.modal==''">
		<i class="fa fa-times" aria-hidden="true"></i> 取消
	</p>
</div>