<div class="modal-header">
	<h4 class="modal-title">為您的行事曆創建一個嶄新的行程
	<div class="close font-s-16" ng-click="$dismiss()">關閉</div>
	</h4>	
</div>
<div class="modal-body">
	行程主題 <input type="text" ng-model="apc.title"><br>
	開始日期 <input type="date" ng-model="apc.dateStart"><br>
	回程日期 <input type="date" ng-model="apc.dateEnd"><br>
	行程公開
	<select ng-model="apc.stateType">
	  <option value="{{state.value}}" ng-repeat="state in apc.statelist">{{state.name}}</option>
	</select>
	<br>
	<p ng-if="(apc.dateStart)&&(apc.dateEnd)">目前天數: {{(apc.dateEnd - apc.dateStart)/86400000+1}} 天</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="apc.send()">送出</button>
	<button class="btn btn-default" ng-click="$dismiss()">關閉</button>
</div>