<div class="toolbar">
	<div class="tooltitle" style="padding:2px 5px">
		<a class="pull-left" ui-sref="index"><span class="glyphicon glyphicon-backward"></span> 返回</a>
		<a class="pull-right" ui-sref="search">切換成搜尋列表 <span class="glyphicon glyphicon-forward"></span></a>
	</div>
</div>
<div class="clearfix"></div>
<!-- ^^^^^ backpage or switch bar ^^^^ -->
<div class="travellist">
	<div class="item bg1">
		<div class="content">
			<svg version="1.1" id="blackarea" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" width="400px" height="150px" viewBox="0 0 400 150" style="enable-background:new 0 0 400 150;" xml:space="preserve">
				<polygon style="" points="102.75,150 0,150 0,0 200,0 "></polygon>
			</svg>
			<span class="title">{{etc.getpro.title}}</span>
			<span class="date">{{etc.getpro.dateStart | date:'yyyy-MM-dd'}}<br>｜<br>{{etc.getpro.dateEnd | date:'yyyy-MM-dd'}}</span>
			<span class="version">修改版本 : {{etc.getpro.version}}</span>
			</div>
		<div class="subtool">
			<div class="changeicon">
				<div class="changename">
					<span class="glyphicon glyphicon-picture enter" title="更換行程封面" aria-hidden="true"></span>
				</div>
				<div class="changeimg">
					<span class="glyphicon glyphicon-pencil enter"  title="編輯整個行程名稱/日期" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!-- ^^^^^ Travel Image & name bar ^^^^ -->
<div class="daysbox angular-ui-tree" ui-tree="etc.treeOptions" data-drag-delay="300">
<div id='alert' class="font-s-18"><label class="label label-info">{{etc.movetext}}</label></div>
<ol class="dayitem angular-ui-tree-nodes" ui-tree-nodes ng-model="etc.daylist">
<!-- ^^^^^^^^^裝天數s容器  ui-tree-nodes綁ng-model(雙向綁定更動順序)^^^^^^^^^^ -->
	<li class="d{{(($index+1)%7)}} angular-ui-tree-node" ng-repeat="day in etc.daylist track by $index" ui-tree-node>
		<div class="daytitle d{{(($index+1)%7)}}" ui-tree-handle ng-init="day.mainindex=$index">
			<!-- =============== 天數項目:day =============== -->
			<span class="days circle d{{(($index+1)%7)}} move">Day {{$index+1}}</span>
			<!-- =============== 編輯功能 =============== -->
			<span class="btn glyphicon d{{(($index+1)%7)}} enter" ng-class="{'glyphicon-chevron-right': collapsed,
			'glyphicon-chevron-down': !collapsed}" title="點擊展開行程" ng-if="(day.nodes.length>0)" ng-click="toggle(this)"></span>
			<i class="pull-right fa fa-times-circle enter del" ng-if="(etc.daylist.length>1)" title="刪除此天" aria-hidden="true" ng-click="remove(this)"></i>
			<!-- =============== 重新整理&移動 =============== -->
			<i class="pull-right fa fa-refresh enter f5" title="重新整理" aria-hidden="true"></i>
			<span class="pull-right circle enter d{{(($index+1)%7)}} itemmove">移動</span>
		</div>
		<ul class="media-list angular-ui-tree-nodes" ui-tree-nodes ng-class="{hidden:collapsed}" ng-model="day.nodes">
		<!-- ^^^^^^^^^裝景點s容器  ui-tree-nodes綁ng-model(雙向綁定更動順序)^^^^^^^^^^ -->
			<!-- =============== 景點項目:point =============== -->
			<li class="media angular-ui-tree-node hoursbox" ng-class='{focus:($index==etc.seletdeItem&&point.title==etc.seletdetitle)}' ng-repeat="point in day.nodes track by $index" ui-tree-node expand-on-hover="true" ng-click="etc.selected($index,point)">
			<!-- =============== point裡面的模版 =============== -->
				<div class="media-left text-center txthour">
				<!-- =============== 左側時間表 =============== -->
					<span>
					<span class="edithr {{($index==0)? 'enter':''}}" title=" {{($index==0)? '設定此日的開始活動時間':''}}" ng-click="etc.test($index)">
						{{etc.endtime(0,0,day.timestart_hour,day.timestart_minute).hr}}: 
						{{etc.endtime(0,0,day.timestart_hour,day.timestart_minute).minute}}
						<!-- {{etc.endtime(0,0,day.point.endtimes.hr,point.endtimes.minute).hr}} -->
					</span>
					<br>|<br>
					<!-- ========= 此景點結束時間(start+stop) ========-->
					<i class="{{(point.endtimes)? 'hide':'hide'}}">
						{{point.endtimes=etc.endtime(point.stop_hour,point.stop_minute,day.timestart_hour,day.timestart_minute)}}
					</i>
					<b ng-if="!(point.endtimes.x=='')">{{point.endtimes.x}}<br></b>
					{{point.endtimes.hr}}: {{point.endtimes.minute}}</font></span>

				</div>
				<!-- ^^^^^^^^^^^^ end ^^^^^^^^^^^^-->
				<!-- =============== 景點卡片 ============-->
				<div class="media-body">
					<div class="pointarea" ui-tree-handle>
						<!-- ============= 景點標題 ============= -->
						<h4 class="media-heading pointhead">({{$index+1}}) {{point.title}}
							<span class="pull-right glyphicon glyphicon-pencil enter" title="編輯" aria-hidden="true" ng-click="etc.editpoint(point,day.mainindex,$index);etc.selected($index,point)" editpoint target-x="point" target-day="day.mainindex"></span>
						</h4>
						<!-- ^^^^^^^^^^^^ end ^^^^^^^^^^^^-->
						<!-- ============= 景點紀錄:資訊&紀錄 ===============-->
						<i class="fa fa-map-marker enter" aria-hidden="true" title="景點資訊" ng-click="etc.show=1;etc.modal='info';etc.showinfo(this)"></i>
						<i class="fa fa-file-text-o enter" aria-hidden="true" title="心情/花費記錄"></i>
						<!-- ============= 景點紀錄:停留時間 ===============-->
						<small style="color:#fff"><font ng-if="!((point.stop_hour)||(point.stop_minute))">不</font>停留
						<font ng-if="(point.stop_hour)">{{point.stop_hour}}小時</font>
						<font ng-if="(point.stop_minute)">{{point.stop_minute}}分鐘</font>
						</small>
						<span class="pull-right fa fa-times-circle enter del" title="刪除此景點" aria-hidden="true" ng-click="remove(this)"></span>
						<!-- ^^^^^^^^^^^^^^ end ^^^^^^^^^^^^-->
					</div>
					<!-- ================== 選擇交通工具 ==================-->
					<div class="traffic" ng-if="!(($index+1)==day.nodes.length)">
						<label class="radio-inline">
							<input type="radio" name="trafficOptions" id="inlineRadio1" value="1" ng-model="point.traffictype">
							<i class="fa fa-male enter {{(point.traffictype==1)? 'active':''}}" aria-hidden="true" title="行走"></i>
						</label>
						<label class="radio-inline">
							<input type="radio" name="trafficOptions" id="inlineRadio2" value="2" ng-model="point.traffictype">
							<i class="fa fa-bus enter {{(point.traffictype==2)? 'active':''}}" aria-hidden="true" title="公車"></i>
						</label>
						<label class="radio-inline">
							<input type="radio" name="trafficOptions" id="inlineRadio3" value="3" ng-model="point.traffictype">
							<i class="fa fa-car enter {{(point.traffictype==3)? 'active':''}}" aria-hidden="true" title="小客車"></i>
						</label>
						<label class="radio-inline">
							<input type="radio" name="trafficOptions" id="inlineRadio4" value="4" ng-model="point.traffictype">
							<span class="enter {{(point.traffictype==4)? 'active':''}}">自訂</span>
						</label>
						<font class="traffichour {{(point.traffictype==null)? 'active':''}}">00:00 距離0公里</font>
					</div>
					<!-- ^^^^^^^^^^^^^ end ^^^^^^^^^^^^^-->
				</div>
			</li>
		</ul>
	</li>
</ol>
</div>
<!-- ^^^^^ Travel detail list box ^^^^ -->
<!-- add-day btn -->
<div class="toolbar" ng-init="(etc.show=0)">
	<div class="tooltitle" style="padding:8px 5px">
		<p class="daybtn enter pull-left" title="為您的旅遊行程增加 1 天行程" ng-click="etc.addday()">
			<span class="glyphicon glyphicon-plus" title="增加天數" aria-hidden="true"></span> 增加天數
		</p>
		<p class="pointbtn enter pull-left" title="為您的行程增加 1 個景點" ng-click="etc.show=1;etc.modal='add';etc.clearadd()" ng-if="(etc.show==0||etc.modal!='add')">
			增加景點 <i class="fa fa-chevron-right" aria-hidden="true"></i>
		</p>
	</div>
</div>

<!-- 展開右側: 編輯/增加景點介面 -->
<div class="right-view"  ng-if="(etc.show)">
	<div class="editbox" ng-if="(etc.modal=='add'||etc.modal=='edit')">
		<button type="button" class="close" ng-click="(etc.show=0)"><span aria-hidden="true">&times;</span></button>
		<div class="w-10-pa">
			<div ng-include src="etc.addapoint"></div>
		</div>
	</div>

	<div ng-if="(etc.modal=='info')">
		<a class="text-left hit-title enter " ng-mouseover="hover=1" ng-mouseleave="hover=0"><i class="fa {{(hover==1)? 'fa-heart':'fa-heart-o'}}"  aria-hidden="true"></i> 加入我的最愛</a>
		<button type="button" class="close" ng-click="(etc.show=0)"><span aria-hidden="true">&times;</span></button>
		<div class="w-10-pa" style="border-top: 1px solid #6ac5c7;margin-top: 10px; padding-top: 10px">
			<div ng-include src="etc.pointinfo"></div>
		</div>
	</div>
</div>