
<div class="toolbar">
  <div class="additem enter" ng-click="main.addopen()">新增行程</div>
  <div class="line"></div>
  <div class="importitem enter">匯入行程</div>
  <!-- 匯入格式:day1 桃園→仁川機場→清溪川→東大門購物商城 -->
  <div class="tooltitle">我的行程</div>
</div>
<div class="clearfix"></div>
<div class="travellist">
  <div class="item {{project.bgimg}} enter" uib-collapse="project.delhide" ng-repeat="project in main.projectlist track by $index">
    <div class="content" ui-sref="edit" ng-click="main.sref(project)">
    <!--   -->
      <svg version="1.1" id="blackarea" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px" height="150px" viewBox="0 0 400 150" style="enable-background:new 0 0 400 150;" xml:space="preserve">
        <polygon style="" points="102.75,150 0,150 0,0 200,0 "/>
      </svg>
      <span class="title">{{project.title}}</span>
      <span class="date">
        {{project.dateStart | date:'yyyy-MM-dd'}}<br>
        ｜<br>
        {{project.dateEnd | date:'yyyy-MM-dd'}}
      </span>
      <span class="version">修改版本： {{project.version}}</span>
    </div>
    <div class="subtool">
      <div class="state" ng-click="isOpen = !isOpen;isSubOpen=0">
        <div class="pulicicon" ng-if="(project.stateType==1)">
          <span class="glyphicon glyphicon-globe icon pulictype" title="已公開行程" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-link icon pulictype" title="分享連結" aria-hidden="true"></span>
        </div>
        <div class="coediticon" ng-if="(project.stateType==2)">
          <span class="glyphicon glyphicon-transfer icon coedittype" title="共同編輯" aria-hidden="true"></span>
        </div>
        <div class="privateicon" ng-if="(project.stateType==3)">
          <span class="glyphicon glyphicon-lock icon privatetype"  title="僅限本人" aria-hidden="true"></span>
        </div>
      </div>
      <div class="stateSwich" uib-collapse="!isOpen" ng-click="isOpen = !isOpen">
        <div class="pulictype" ng-click="(project.stateType=1)">
          <span class="glyphicon glyphicon-globe icon pulictype" aria-hidden="true"></span> 公開行程
        </div>
        <div class="coedittype" ng-click="(project.stateType=2)">
          <span class="glyphicon glyphicon-transfer icon coedittype" aria-hidden="true"></span> 共同編輯
        </div>
        <div class="privatetype" ng-click="(project.stateType=3)">
          <span class="glyphicon glyphicon-lock icon privatetype" aria-hidden="true"></span> 只限本人
        </div>
      </div>
      <div class="option" ng-click="isSubOpen = !isSubOpen;isOpen = 0">
        <span class="glyphicon glyphicon-edit icon subtool" title="更多功能" aria-hidden="true"></span>
        <div class="list" uib-collapse="!isSubOpen">
          <div class="share"><span class="glyphicon glyphicon-share-alt"></span> 連結分享</div>
          <div class="del" ng-click="main.delhide(this)"><span class="glyphicon glyphicon-trash"></span> 刪除</div>
        </div>
      </div>
    </div>
  </div>
</div>



