<div class="toolbar">
	<div class="tooltitle" style="padding:2px 5px">
		<a class="pull-left font-s-16 line-h-28" ui-sref="edit"><span class="glyphicon glyphicon-backward"></span> 返回自己的行程列表</a>
		<a class="pull-right btn btn-info btn-xs" ng-click="spc.add()">增加假資料</a>
	</div>
</div>
<div class="clearfix"></div>
<!-- ^^^^^ backpage or switch bar ^^^^ -->
<!-- 搜尋輸入區 -->
<div class="travellist">
	<div class="context line-h-40 pad-l-2">
		搜尋: <input type="text" class="line-h-16 search" ng-model="search.title">
	</div>
</div>
<!-- 搜尋結果 -->
<div class="searchbox" >
	<div class="list-group">
		<!-- 一個項目容器: 以 a 包裝 (參見bootstrap) -->
		<a class="list-group-item searchitem enter" ng-class={focus:$index==spc.selected} ng-repeat="result in spc.result | filter:search track by $index" ng-click="spc.info(result,$index)">

			<!-- 一個項目容器: 標題區 -->
			<h4 class="list-group-item-heading title">
			<small>({{$index+1}})</small> <span>{{result.title}}</span>
			<div class="fav close" style="opacity: 0.8">
				<div class="text-left hit-title enter " ng-click="result.fav=!result.fav">
					<i class="fa {{(result.fav==1)? 'fa-heart':'fa-heart-o'}}"  aria-hidden="true"></i>
				</div>
			</div>
			</h4>

			<!-- 一個項目容器: 內文、圖片 -->
			<p class="conttext list-group-item-text">{{result.text}}</p>
			<div class="itemimg">
				<img src="http://placekitten.com/g/640/200" width="100%" alt="" style="margin-top: 0px">
			</div>
		</a>
	</div>
</div>
<!-- 叫出右側> 點擊搜尋結果的其中一項的詳細資料 -->
<div class="right-view" ng-if="(spc.show)">
	<div>
		<!-- add 最愛、關閉 功能條 -->
		<a class="text-left hit-title enter" ng-click="spc.favadd(info.fav)">
			<i class="fa {{(info.fav)? 'fa-heart':'fa-heart-o'}}"  aria-hidden="true"></i> 加入我的最愛
		</a>
		<button type="button" class="close" ng-click="(spc.show=0)"><span aria-hidden="true">&times;</span></button>
		<!-- 列出詳細資料 -->
		<div class="w-10-pa" style="border-top: 1px solid #6ac5c7;margin-top: 10px; padding-top: 10px;padding-bottom: 50px">
			<div ng-include src="spc.pointinfo"></div>
		</div>
		<!-- 最下方按鈕(把這個景點加進行程) -->
		<div class="addpoint pad-b-1">
			<a href="" class="btn btn-primary btn-md w-10-pa" ng-click="spc.addpoint(info.infotitle)"> {{(spc.isOpen)? '請選擇放入day':'+加入行程裡'}}</a>
			<br>
			<!-- 使用者未選擇行程所產生的error顯示 -->
			<div uib-collapse="!spc.errortext"><span class="line-h-18 text-warning">
				<i class="fa fa-exclamation-triangle font-s-18 text-danger" aria-hidden="true"></i>
			發生了錯誤！請返回首頁重新選擇行程進行編輯！</span><br>
			<a class="btn btn-warning btn-xs w-10-pa" ui-sref="index">返回首頁</a>
		</div>
		<!-- 選擇加進哪一天 -->
		<div uib-collapse="!spc.isOpen">
			<span class="pull-left line-h-50">選擇 第</span>
			<div class="btn-toolbar pull-left marg-all-1" role="toolbar">
				<div class="btn-group btn-group-sm" role="group">
					<button class="btn btn-default" ng-repeat="data in ( [] | fakedata:spc.daysnum)" ng-click="spc.pointinto($index)">
					{{$index+1}}
					</button>
				</div>
			</div>
			<span class="pull-left line-h-50">天</span>
		</div>
	</div>
</div>
</div>